.react-calendar {
  @apply w-[450px] max-w-full bg-white rounded-2xl border border-gray-400;
}
.react-calendar--doubleView {
  @apply w-[700px];
}
.react-calendar--doubleView .react-calendar__viewContainer {
  @apply flex -m-2;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  @apply w-1/2 m-2;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  @apply box-border;
}

/* Custom Navigation Styles */
@media screen and (max-width: 500px) {
  .react-calendar__navigation__prev2-button,
  .react-calendar__navigation__prev-button {
    @apply hidden;
  }
  .react-calendar__navigation__label {
    @apply pl-4 text-left;
  }
}

.react-calendar button {
  @apply btn btn-ghost;
}

.react-calendar__navigation {
  @apply flex h-11 mb-2;
}
.react-calendar__navigation button {
  @apply min-w-[44px] bg-none;
}
.react-calendar__navigation button:disabled {
  @apply btn-disabled;
}
.react-calendar__month-view__weekdays {
  @apply text-primary text-center uppercase font-extrabold text-sm;
}
/* Each day should be round when hovered */
.react-calendar__month-view__days__day {
  @apply p-2 !bg-clip-content !rounded-md;
}

.react-calendar__navigation__label__labelText {
  @apply font-medium;
}
.react-calendar__navigation__label {
  @apply pointer-events-none;
}

.react-calendar__navigation__arrow {
  @apply bg-white p-1 !bg-clip-content !rounded-3xl;
}
.react-calendar__navigation__arrow:hover {
  @apply bg-neutral-content;
}

/* Do not show weekends */
.react-calendar__month-view__days > .react-calendar__tile,
.react-calendar__month-view__weekdays__weekday {
  @apply !basis-1/5 max-w-[20%];
} 
.react-calendar__month-view__weekdays__weekday:nth-child(6),
.react-calendar__month-view__weekdays__weekday:nth-child(7) {
  @apply !hidden;
} 
.react-calendar__month-view__days__day--weekend {
  @apply !hidden;
} 


.react-calendar__month-view__weekdays__weekday {
  @apply p-3;
}
.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  @apply flex justify-center items-center text-base font-semibold;
}
.react-calendar__month-view__days__day--neighboringMonth {
  @apply text-base-content;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  @apply pt-8 px-2;
}
.react-calendar__tile {
  aspect-ratio: 1/1;
  max-width: 100%;
  background: none;
  text-align: center;
}
.react-calendar__tile:disabled {
  @apply bg-base-content text-neutral;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: rgb(238 242 255);
}
.react-calendar__tile--now {
  border-radius: 15px;
  border: 2px solid #4f46e5 !important;
  color: #4f46e5;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background-color: rgb(238 242 255);
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #4f46e5;
  color: white;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: rgb(238 242 255);
}

.closed-day{
  background-color: gray !important;
}

.react-calendar__navigation button:disabled{
  visibility: hidden;
}
.react-calendar button{
  @apply text-gray-700
}
.react-calendar button.btn-disabled, .react-calendar button[disabled], .react-calendar button:disabled{
  @apply bg-gray-200 text-gray-400
}